<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="../../public/css/index.css">
</head>

<body>
    {{{body}}}
    <script src="../../public/js/activity_level.js"></script>
</body>

<footer class="tag">
    <p>&copy; CS 545 HCI Project - Branden Bulatao, Isabel Sutedjo, Tiffany Pak, Sean Payba</p>
</footer>

</html>