  body {
    font-family: 'Calibri', sans-serif;
    /* font-size: 18pt */
    /* background from https://www.svgbackgrounds.com/ */
    background-color: #ffffff;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23E23636' cx='50' cy='0' r='50'/%3E%3Cg fill='%23d73333' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23cb3131' cx='50' cy='100' r='50'/%3E%3Cg fill='%23c02e2e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b52b2b' cx='50' cy='200' r='50'/%3E%3Cg fill='%23aa2929' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%239e2626' cx='50' cy='300' r='50'/%3E%3Cg fill='%23932323' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23882020' cx='50' cy='400' r='50'/%3E%3Cg fill='%237c1e1e' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23711b1b' cx='50' cy='500' r='50'/%3E%3Cg fill='%23661818' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%235a1616' cx='50' cy='600' r='50'/%3E%3Cg fill='%234f1313' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23441010' cx='50' cy='700' r='50'/%3E%3Cg fill='%23390e0e' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%232d0b0b' cx='50' cy='800' r='50'/%3E%3Cg fill='%23220808' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23170505' cx='50' cy='900' r='50'/%3E%3Cg fill='%230b0303' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23000000' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E"); */
    background-attachment: fixed;
    background-size: contain;
    margin: 0;
    padding: 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
    /* background from https://www.svgbackgrounds.com/ */
    background-color: #ffffff;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='317' height='317' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23E23636' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23E23636'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); */
    padding: 20px;
    border: 10px double #000000;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #ffffff;
    text-align: center;
    font-variant: small-caps;
    font-family: Impact, sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-style: italic;
    font-size: 50pt;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);

    background-color: #504a4a;
    margin: 20px 0;
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

h2 {
    color: #000000;
    text-align: center;
    font-variant: small-caps;
    font-style: italic;
    font-size: 40pt;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0px 0;
}

/* main {
    max-width: 1000px;
    margin: 0 auto;
    font-weight: 600;
    padding: 20px;
    background-color: #b0b0b000;
    background-attachment: fixed;
    background-size: contain;
} */

p {
    text-align: center;
    color: #000000;
    font-size: 18px;
    line-height: 1;
}

label {
    display: block;
    color: #000000;
    text-align: left;
    font-size: 18px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

input[type="number"], select {
  width: 100%;
  box-sizing: border-box;
  text-align: left;
}

ul {
    color: #100e0e;
    font-weight: 400;
    text-align: right;
    padding-right: 200px;
    margin-left: 200px;
    margin-right: 200px;
    border: 10px double #000000;
    border-radius: 20px;
    background:fixed;
    background-color: #ffffff
}

ol {
    font-size: 16pt;
    margin-left: 190px;
    margin-right: 200px;
    border: 2px solid #363636;
    border-right: none;
    text-align: left;
}

li {
    border: 2px solid #363636;
    padding: 10px; 
    text-align: center;
    font-size: 16pt;
}

a {
    font-size: 18px;
    text-align: right;
}

a:hover {
    color: #2c5d8b;
}

img {
    display: block;
    margin: auto;
    text-align: center;
}

.error {
    color:red;
    font-size: 90pt;
    font-family: 'Comic Sans MS', sans-serif;
    border: 2px solid #900000;
    padding: 200px;
    margin: 10px;
    background-color: mistyrose;
    text-align: center;
}

.not-found {
    font-family: 'Comic Sans MS', sans-serif;
}

/* Button code from cssbuttons.app */
/* search button */
button {
    padding: 1em 2.5em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  
button:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
button:active {
    color: #000;
  }
  
button:active:after {
    background: transparent;
  }
  
button:hover:before {
    opacity: 1;
  }
  
button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
  }


.grid {
  display: grid;
  grid-template-rows: 80px auto 80px;
  grid-template-columns: 20% auto 20%;
  height: 100vh;
}

@media (max-width: 400px) {
  .grid {
    grid-template-rows: 80px 80px auto 80px 80px;
    grid-template-columns: 1fr;
  }
  main {
    grid-column: 1/4;
  }

  header, footer {
    background: #9b9b9b;
    grid-column: 1/4;
  }
}